<%- include('partials/header'); %>
<%- include('partials/homenavbar'); %>
<body>
   <div class="container">
        <div class="jumbotron my-3">
            <h1 class="display-4">Bem-vindo ao GuiaPress!</h1>
            <P>As notícias mais atuais você só encontra aqui!</P>
        </div>
        <hr>
        <% articles.forEach(article => { %>
            <div class="card my-3">
                <div class="card-header">
                    <h3><%= article.title %></h3>
                </div>
                <div class="card-body">
                    <a href="/slug/<%= article.slug %>" class="badge badge-info p-3">Ler artigo</a>
                </div>
            </div>
        <% }) %>
        
        <div class="row">
            <div class="col col-12 d-flex justify-content-end">
                <a href="/articles/page/1">Próximo >>></a>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer'); %>